body {
    background-color: #b5a789
    font-family:      Georgia, "Times New Roman", Times, serif;
    font-size:        small;
    margin:           0px;
    padding-top: 60px;
	padding-bottom: 40px;
}
