<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Personal Assistant</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="static/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="static/css/main.css" rel="stylesheet" media="screen">
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="../assets/js/html5shiv.js"></script>
    <![endif]-->

    <!-- Fav and touch icons -->
  </head>

  <body>
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="static/bootstrap/js/bootstrap.min.js"></script>

    <div class="container" id="header">
        <div class="masthead">
            <a href="index.html" class="top-logo-link">
                <img src="images/blimp.png" class="top-logo" alt="Blimp logo">
            </a>
            <ul class="nav nav-pills pull-right top-nav">
                <li class="top-nav-item"><a href="#features">Features</a></li>
                <li class="top-nav-item"><a href="#pricing">Pricing</a></li>
                <li class="top-nav-item"><a href="/account/login/">登录</a></li>
                <li class="top-nav-item"><a href="/account/signup">注册</a></li>
            </ul>
        </div>
    </div>

    <div class="jumbotron">
      <div class="container">
          <div class="row">
              <div class="span5 main-cta-left">
                  <h3 class="title">Beautifully Easy Project Management</h3>
                  <span class="sub-title">Increase your team's productivity today.</span>
                  <div class="main-cta-btn-wrapper">
                      <a href="https://app.getblimp.com/signup/" class="btn btn-large btn-success cta-button" onclick="_gaq.push(['_trackEvent', 'Click', 'Sign Up', 'Top Button']);">Get Started Free</a>
                  </div>
              </div>
              <div class="span7 main-cta-right">
                  <div id="screenshotCarousel" class="carousel slide pull-right main-carousel-wrapper">
                      <ol class="carousel-indicators">
                          <li data-target="#screenshotCarousel" data-slide-to="0" class="active"></li>
                          <li data-target="#screenshotCarousel" data-slide-to="1"></li>
                          <li data-target="#screenshotCarousel" data-slide-to="2"></li>
                          <li data-target="#screenshotCarousel" data-slide-to="3"></li>
                      </ol>
                      <!-- Carousel items -->
                      <div class="carousel-inner">
                          <div class="active item"><img src="images/screenshot1.png" alt="Screenshot of goals"></div>
                          <div class="item"><img src="images/screenshot2.png" alt="Screenshot of projects"></div>
                          <div class="item"><img src="images/screenshot3.png" alt="Screenshot of team"></div>
                          <div class="item"><img src="images/screenshot4.png" alt="Screenshot of discussions"></div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>  

    <!-- Le javascript
    ================================================== -->
  </body>
</html>
